.header {
  font-family: 'Noto Sans', sans-serif;
  background-color: #67b2f0;
  padding: 10px 0;
  text-align: center;
}

.header__text {
  text-decoration: none;
  color: whitesmoke;
}

@media (min-width: 768px){
  .header__text {
    position: relative;
    bottom: 4px;
  }
}